#map { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    width: 50%;
}
#features {
    width: 50%;
    margin-left: 50%;
    color: black;
    font-family: sans-serif;
    overflow: scroll;
    background-color: #fafafa;
}
body { 
    margin: 0; 
    padding:0; 
}
/* logo & nav*/
#navbar {
    overflow: hidden;
    background-color: #fafafa;
    width: 100%;
    padding: 15px 0 0 20px;
}
#nav {
    display: block;
    float: center;
    clear: both;
    width: 100%;
    padding: 5px 10px 0 2px;
}
#navlinks {
    display: block;
    clear: both;
    margin-left: 5px;
}
a {
    text-decoration:none;
   }
a:visited{
    color: black;
}
/* chapters */
section {
    padding:  5px 25px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 5px;
}
img {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
/*POPUP*/ 
mapboxgl-popup {
    max-width: 400px;
    font: 10px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
