#map {
    position: fixed;
    width:50%;
}
#features {
    width: 50%;
    margin-left: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}
#section {
  cursor: pointer;
}
img {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
