#map {
    position: fixed;
    width:50%;
}
#features {
    width: 50%;
    margin-left: 50%;
    color: black;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}
#section {
  cursor: pointer;
}
img {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
a {
    text-decoration:none;
   }
a:visited{
    color: black;
}
 /* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

